/* For old browsers */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif !important;
    overflow: hidden;
    background-color: #000000;
}

form {
    margin: 0;
}

.place-card {
    font-family: Roboto, sans-serif;
    width: 466px;
    background-color: #FFFFFF;
    padding: 25px;
    margin-bottom: 50px;
    -webkit-box-shadow: 5px 5px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    5px 5px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         5px 5px 0px rgba(50, 50, 50, 0.3);
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
}

.place-card h2 {
    color: #5d5d5d;
    font-size: 18px;
    margin: 0;
}

#navigation {
    width: 116px;
    height: 100%;
    position: fixed;
    background-color: #FFFFFF;
    z-index: 1001;
    overflow: hidden;
}
#map {
    position:absolute;
    left: 116px;
    top:0;
    bottom:0;
    right: 300px;
    width:100%;
    overflow: hidden;
    background-color: #161619;
}

#search-panel {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    background-color: transparent;
    z-index: 5;
}

#navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 31px;
    margin-top: 75px;
}

#navigation ul li {
    margin-bottom: 20px;
}

#navigation ul li a {
    font-size: 18px;
    display: block;
    width: 280px;
    padding-left: 85px;
    line-height: 55px;
    outline: none;
}

#navigation ul li a:hover {
    text-decoration: none;
}

.mycluster {
    display: block;
    width: 42px;
    height: 53px;
    background-color: transparent;
    background-image: url('../images/pin-with-number.png');
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 10px;
}

.count-icon {
    background:#fee;
    text-align:center;
    vertical-align:middle;
    border:1px solid #000;
    border-radius:20px;
    line-height:40px;
}

.autocomplete-place, .add-place-button {
    display: block;
    width: 300px;
    height: 55px;
    line-height: 55px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 1px;
    text-decoration: none;
    padding-left: 50px;
}

/* ADD A PLACE FORM */

.addplaceform-category {
    display: block;
    width: 300px;
    height: 55px;
    line-height: 55px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    margin-bottom: 1px;
    text-decoration: none;
}

.addplaceform-category-icon {
    display: block;
    height: 53px;
    width: 53px;
    float: left;
    overflow: hidden;
    background-color: transparent;
}

.addplaceform-category-name {
    color: white;
}

.addplaceform-datarow {
    display: block;
    width: 300px;
    height: 55px;
    background-color: white;
    margin-bottom: 1px;
}

#addplaceform-wrapper {
    position: absolute;
    right: 0;
    top:0;
    bottom:0;
    width: 300px;
    height: 100%;
    background-color: transparent;
    z-index: 5;
}

.addplaceform-icon-wrapper {
    display: block;
    height: 55px;
    width: 55px;
    float: left;
    overflow: hidden;
    background-color: white;
    float: left;
}

.addplaceform-input {
    font-family: Roboto, sans-serif;
    background-color: white;
    width: 190px;
    height: 55px;
    color: #c4c4c4;
    font-size: 18px;
    padding: 0;
    border: 0;
    margin-bottom: 1px;
    float: left;
}

.textarea-datarow {
    min-height: 110px;
    position: relative;
}

textarea.addplaceform-textarea {
    font-family: Roboto, sans-serif;
    background-color: white;
    width: 190px;
    min-height: 110px;
    color: #c4c4c4;
    font-size: 18px;
    padding: 0;
    border: 0;
    margin-bottom: 1px;
    float: left;
    resize: none;
}

.addplaceform-input:focus {
    outline: none;
}

.addplaceform-validation-wrapper {
    display: block;
    height: 55px;
    width: 55px;
    float: right;
    overflow: hidden;
    background-color: white;
}

.addplaceform-addbutton, .addplaceform-editbutton {
    border: 0 none;
    font-family: Roboto;
    display: block;
    width: 300px;
    height: 55px;
    margin-top: 15px;
    padding: 0;
    background-color: #80bcae;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 55px;
    text-decoration: none;
    text-align: center;
}


.addplaceform-addbutton:disabled, .addplaceform-editbutton:disabled {
    background-color: #999999;
}

.addplaceform-addbutton:disabled:hover, .addplaceform-editbutton:disabled:hover {
    cursor: default;
}

.addplaceform-cancelbutton {
    display: block;
    width: 300px;
    margin-top: 10px;
    background-color: transparent;
    padding: 0;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.autocomplete-place:hover, .autocomplete-place:active, .autocomplete-place:visited,
.addplaceform-addbutton:hover, .addplaceform-addbutton:active, .addplaceform-addbutton:visited,
.addplaceform-editbutton:hover, .addplaceform-editbutton:active, .addplaceform-editbutton:visited,
.add-place-button:hover, .add-place-button:active, .add-place-button:visited {
    color: #ffffff;
    text-decoration: none;
}

/* PLACE DETAIL */

.placedetail-header {
    display: block;
    width: 300px;
    height: 55px;
    line-height: 55px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    margin-bottom: 1px;
    text-decoration: none;
}

.placedetail-body {
    display: block;
    width: 300px;
    /*height: 200px;*/
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.placedetail-category-wrapper {
    width: 270px;
    height: 25px;
    margin-bottom: 5px;
    padding-top: 5px;
    position: relative;
}

.placedetail-icon {
    display: block;
    height: 53px;
    width: 53px;
    float: left;
    overflow: hidden;
    background-color: transparent;
}

.placedetail-title {
    color: white;
}

.placedetail-editlink {
    position: absolute;
    top: 5px;
    right: 0px;
    font-size: 10px;
}

.placedetail-description {
    font-style: italic;
    margin-bottom: 10px;
}

.placedetail-website {
    margin-bottom: 10px;
}

.placedetail-address {
    font-size: 12px;
}

.placedetail-contact {
    font-size: 12px;
}

/* -------- */

.category-marker.active {
    background-position: left top;
}

.category-marker.inactive {
    background-position: 0 -53px;
}

#search-input:focus {
    outline: none;
}

.fb {
    display: block;
    background-image: url('../images/fb.png');
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}

.add-place-button {
    background-color: #80bcae;
    padding: 0;
    text-align: center;
}

#search-input {
    font-family: Roboto, sans-serif;
    background-color: #FFFFFF;
    width: 245px;
    height: 55px;
    color: #c4c4c4;
    font-size: 18px;
    padding: 0;
    padding-left: 22px;
    border: 0;
    margin-bottom: 1px;
    float: left;
}

.category-marker {
    display: block;
    width: 54px;
    height: 54px;
    background-repeat: no-repeat;
}

.autocomplete-place-icon {
    display: block;
    height: 53px;
    width: 53px;
    float: left;
    overflow: hidden;
    background-color: transparent;
}

.search-reset-area {
    display: block;
    height: 55px;
    width: 55px;
    float: right;
    overflow: hidden;
    background-color: white;
}

.search-reset-icon {
    display: block;
    height: 55px;
    width: 55px;
    overflow: hidden;
    background-color: white;
}

/* RESET THE LEAFLET POPUP */

.leaflet-popup-content-wrapper {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    box-shadow: none !important;
    background: transparent !important;
}

.leaflet-popup-content {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    background: transparent !important;
}

.leaflet-popup-tip-container {
    display: none !important;
}

/* Leaflet markers */
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
    -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-in;
    -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-in;
    -o-transition: -o-transform 0.2s ease-out, opacity 0.2s ease-in;
    transition: transform 0.2s ease-out, opacity 0.2s ease-in;
}

.marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-small div {
    background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-medium div {
    background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);
}
.marker-cluster-large div {
    background-color: rgba(241, 128, 23, 0.6);
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}
.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
    line-height: 30px;
}

 /* IE 6-8 fallback colors */
.lt-ie8 .marker-cluster-small {
    background-color: rgb(181, 226, 140);
}
.lt-ie8 .marker-cluster-small div {
    background-color: rgb(110, 204, 57);
}

.lt-ie8 .marker-cluster-medium {
    background-color: rgb(241, 211, 87);
}
.lt-ie8 .marker-cluster-medium div {
    background-color: rgb(240, 194, 12);
}

.lt-ie8 .marker-cluster-large {
    background-color: rgb(253, 156, 115);
}
.lt-ie8 .marker-cluster-large div {
    background-color: rgb(241, 128, 23);
}

.ng-invalid-required {
    box-shadow: none !important;
}

a {
    cursor: pointer;
}

input {
    cursor: text;
}

.clearfix {
    clear: both;
}

select {
    min-width: 178px;
}

h2 {
    color: #FFFFFF;
}

.addplaceform-select-arrow, .addplaceform-description-characters {
    display: block;
    float: right;
    height: 55px;
    overflow: hidden;
    width: 55px;
    font-size: 13px;
    color: #C4C4C4;
}

.addplaceform-description-characters .characters-remaining {
    text-align: right;
    position: absolute;
    bottom: 2px;
    right: 5px;
}

.modal-content {
    border-radius: 0;
}

.modal-header {
    border-bottom: 0px;
    padding: 20px 15px;
    color: #FFFFFF;
}

.success-modal .modal-header {
    background-color: #0CDA88;
}

.error-modal .modal-header {
    background-color: #FF6B6B;
}

.btn-primary {
    padding: 9px 15px;
    border-radius: 0px;
    border: none;
    background-color: #949494;
    color: #FFFFFF;
}

.btn-primary:hover {
    background-color: #C4C4C4;
}

.modal-footer {
    border-top: 0;
    margin-top: 0;
}

.addplaceform-textarea {
    outline: none;
}

.search-hint {
    width: 300px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 14px;
    font-family: Roboto, sans-serif;
}

/******************* NIGHT TEMPLATE ********************/
.night-template .search-hint {
    color: #a2a2a3;
}

.night-template .addplaceform-cancelbutton,
.night-template .addplaceform-cancelbutton:hover,
.night-template .addplaceform-cancelbutton:active,
.night-template .addplaceform-cancelbutton:visited {
    color: #ffffff;
    text-decoration: none;
}

/******************* NIGHT TEMPLATE ********************/
.day-template .search-hint {
    color: #333333;
}

.day-template .addplaceform-cancelbutton,
.day-template .addplaceform-cancelbutton:hover,
.day-template .addplaceform-cancelbutton:active,
.day-template .addplaceform-cancelbutton:visited {
    color: #333333;
    text-decoration: none;
}

.about-overlay {
    color: #ffffff;
    position: fixed;

    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    overflow-x: auto;
    overflow-y: scroll;
    z-index: 1040;
}

.about-text {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1000px;
    height: 440px;
    margin-left: -500px;
    margin-top: -220px;
    padding-bottom: 30px;
    padding-top: 30px;
    right: auto;
    bottom: auto;
    z-index: 1050;
    font-size: 24px;
}

.overlay-backdrop {
    background-color: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1030;
    opacity: 1;
    transition: opacity 0.15s linear 0s;
    opacity: 0.5;
}

#about-close-button {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1051;
    outline: none;
}

.about-text h1 {
    font-size: 42px;
    margin-bottom: 30px;
}

.about-text p {
    margin-bottom: 30px;
}

a.logo-link {
    display: inline-block;
    outline: none;
    font-size: 18px;
    color: #F4C910;
    width: 280px;
    margin-top: 30px;
    float: left;
}

.logo-img {
    margin-left: 25px;
    float: left;
}

.logo-panel {
    margin-top: 13px;
    width: 144px;
    display: block;
    float: left;
    margin-left: 25px;
}

.logo-subtitle {
    font-size: 11px;
    text-transform: uppercase;
    color: #666666;
}

.logo-title {
    font-size: 24px;
}

a.logo-link:hover, a.github-link:hover {
    text-decoration: none;
}

a.github-link {
    position: absolute;
    bottom: 30px;
    left: 31px;
    display: block;
    width: 280px;
    outline: none;
    font-size: 18px;
    color: #666666;
    line-height: 77px;
}

.github-title {
    padding-left: 31px;
}

@media (max-height: 840px) {
    #navigation ul {
        margin-top: 30px;
    }

    .logo-link {
        margin-top: 15px;
    }

    #navigation ul li {
        margin-bottom: 12px;
    }
}
