<div>
    <div class="about-overlay">
        <div class="about-text">
            <h1>Welcome to WithLove.sk</h1>
            <p>
                WithLove.sk is a map of Slovak start-up ecosystem. It consists of start-ups, investors, community hubs and co-working spaces.
            </p>
            <p>
                Our content is based on crowd-sourcing. Companies and individuals come to WithLove to create and update their profile. In addition, we developed processes to insure the data is up to date and accurate.
            </p>
            <p>
                WithLove.sk was created by Phirational in Trnava. System powering WithLove.sk was made freely available as an open-source on GitHub.
            </p>
            <a id="about-close-button"><img src="images/close-icon-button.png"></a>
        </div>
    </div>
    <div class="overlay-backdrop"></div>
</div>
