<div class="selectbox">
    <div class="selected-category {{selectedCategory.slug}}" data-category="startup"
         ng-style="{'background-image':'url('+defaultOption.iconNormal+')','background-position':'0px 2px','background-color':defaultOption.color,'background-repeat':'no-repeat','color':'#FFFFFF'}">
        <div class="category-inside">
            {{defaultOption.name}}
        </div>
        <span class="addplaceform-select-arrow"><img src="images/map/select-arrow.png"></span>
        <div class="clearfix"></div>
    </div>

    <div class="category-picker">
        <div data-ng-repeat="category in selectboxOptions"
             class="category {{category.slug}}"
             data-category="{{category.slug}}"
             data-category-id="{{category.id}}"
             ng-style="{'background-image': 'url('+category.iconNormal+')','background-position':'0px 2px','background-color':category.color,'background-repeat':'no-repeat'}">
            <div class="category-inside">
                {{category.name}}
            </div>
        </div>
    </div>
</div>
