# Laravel
/bootstrap/compiled.php
/vendor
/workbench
composer.phar
_ide_helper.php
_ide_helper_models.php
/public/packages
.env.php
.env.development.php

# NPM & GULP
/node_modules

# OS
.DS_Store
Thumbs.db

# PHP Storm
.idea